
/* 第一个子元素。 */
li:first-child {
  color: red;
}

/* 最后一个子元素。 */
li:last-child {
  color: red;
}

/* 除去 最后一个子元素。 其他元素生效 */
li:not(:last-child) {  
  color: red;
}

/* 第三个子元素 */
li:nth-child(3) {
  color: red;
}

/* 第 an 个子元素 (2 4 6 8.. 个) */
li:nth-child(2n) {
  color: red;
}

li:nth-child(2n - 1) { // 1 3 5 ...
  color: red;
}

/* 除去 第2n个子元素。 其他元素生效 */
li:not(:nth-child(2n)) {
  color: red;
}

/* 从第三个开始 到 最后 */
li:nth-child(-n+3){
  color: red;
}


/* 特定类型的子元素 */
p:nth-of-type(2n) {  // 只有第二个p标签子元素会变成红色
  color: red;
}

/* 如果一个 <p> 元素是其父元素（无论这个父元素是什么）的唯一子元素，那么这个 <p> 元素就会被 p:only-child 选择器选中，并可以对其应用特定的样式。 */
p:only-child {
  font-weight: bold;
}