.cke {
  .cke_top {
    border: none !important;
    background: #F2F2F2;
  }

  .cke_toolgroup {

  }

  table {
    max-width: 100%;
  }
}
.cke_editable {
  background: #F5F8FA;
  border-color: #DAE1E6;
}

.katex-display {
  display: inline-block !important;
  margin: auto !important;
}

// .katex {
//   font-size: 1em !important;
// }